NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/ai-cms
JWT_SECRET=this-is-a-very-secret-key-change-it-in-production
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
LINK_COR=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
INITIAL_WALLET_BALANCE=0
PAYLOAD_LIMIT=100mb
